build-armv7
build-armv7s
build-arm64
build-i386
build-universal
build-x86_64/config.log
build-x86_64/config/pkgdataMakefile
build-x86_64/data/pkgdataMakefile
build-x86_64/extra/scrptrun/Makefile
build-x86_64/extra/uconv/pkgdataMakefile
build-x86_64/samples/layout/Makefile
build-x86_64/test/compat/Makefile
build-x86_64/test/perf/Makefile
build-x86_64/test/perf/charperf/Makefile
build-x86_64/test/perf/collationperf/Makefile
build-x86_64/test/perf/collperf/Makefile
build-x86_64/test/perf/collperf2/Makefile
build-x86_64/test/perf/DateFmtPerf/Makefile
build-x86_64/test/perf/dicttrieperf/Makefile
build-x86_64/test/perf/howExpensiveIs/Makefile
build-x86_64/test/perf/leperf/Makefile
build-x86_64/test/perf/normperf/Makefile
build-x86_64/test/perf/strsrchperf/Makefile
build-x86_64/test/perf/ubrkperf/Makefile
build-x86_64/test/perf/unisetperf/Makefile
build-x86_64/test/perf/usetperf/Makefile
build-x86_64/test/perf/ustrperf/Makefile
build-x86_64/test/perf/utfperf/Makefile
build-x86_64/test/perf/utrie2perf/Makefile
build-x86_64/test/testdata/pkgdataMakefile
build-x86_64/tools/icuswap/Makefile
build-x86_64/tools/tzcode/Makefile
